# Node dependencies & caches
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python environments & cache
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Build outputs
dist/
dist-ssr/
*.local
*.zip

# PlatformIO & Embedded
.pio/
.pioenvs/
.piolibdeps/

# Android & Gradle
.gradle/
build/
app/build/
*.hprof
local.properties
.cxx/
android/.gradle/
android/app/build/
android/capacitor-cordova-android-plugins/build/

# iOS & Xcode
ios/App/Pods/
ios/App/App.xcarchive/
ios/App/Payload/
ios/App/build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
